<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>memeTube</title>
</head>
<body>
<nav>
  <ul>
    <li><a href="/videos/">Home</a></li>
    <li><a href="/videos/new">Add a video</a></li>
  </ul>
</nav>
  <%= yield %>
</body>
</html>